{% extends 'base.html' %}
{% block title %}Donadores register{% endblock %}
{% block content %}

<div class="content" style="width:940.45px; margin:0px auto; border:0px ">
<h2><span style="font-family: Helvetica; color:black;">Historia</span></h2>
<p style="font-family:Arial; font-size: 16px;"  align="justify">
Esta fundación surge a raíz del fallecimiento de Sebastian de la Peña Hernandez el 9 de enero del 2015 a causa de un tumor cerebral a la corta edad de 15 años.
Su madre Ivonne Hernández quien es fundadora de Sepher al vivir este doloroso proceso toma la decisión y la fuerza para brindar apoyo a las familias y niños con este padecimiento ya que fue testigo de las carencias y las necesidades que viven las familias de muchos niños.
Ella tuvo la bendición y el apoyo incondicional de su familia en este duro proceso pero desafortunadamente no todos los niños y familias cuentan con este tipo de ayuda Sepher contribuye con un granito de arena para hacer la diferencia.
</p>
</div>

{% endblock %}