{% extends 'base.html' %}
{% block title %}Donadores register{% endblock %}
{% block content %}

<div class="content" style="width:940.45px; margin:0px auto; border:0px ">
<h2><span style="font-family: Helvetica; color:black;">Misión</span></h2>
<p style="font-family:Arial; font-size: 16px;" align="justify">
Brindar ayuda asistencial a niños con cancer para mejorar su calidad de vida.
Somos una fundación que brinda apoyo a niños con padecimiento oncológico a través de la recaudación de fondos y donativos en especie.
</p>
</div>
{% endblock %}