{% extends 'base.html' %}
{% block content %}


	<h2><span style="margin-left:100px; font-family: Helvetica; color:black; ">Registro de Pacientes</span></h2>
<br>
<center>
<header>
</header>


<style>
.has-error .form-control {
	border-color: #42275E;
	-webkit-box-shadow: none;
	box-shadow: none;
}

</style>
<form class="form-horizontal" method="POST">
	{% csrf_token %} 

			
			<div class="form-group has-error">
	            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Nombre(s)</label>
	            <div class="col-md-6">
	                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="nombre" type= {{ form.Paciente_nombre }}  
	            </div>
			</div>	



			<div class="form-group has-error">
		            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Apellidos</label>
		            <div class="col-md-6">
		                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="apellidos" type= {{ form.Paciente_apellido }}  
		            </div>
			</div>	

		<!-- 	<div class="form-group has-error">
		            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Fecha de Nacimiento</label>
		            <div class="col-md-6">
		            	<input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="fecha" type= date {{ form.Paciente_fnacimiento}} 
		            </div>
			</div> -->
			

			 
			<div class="container">
			    <form action="" class="form-horizontal"  role="form">           
						<div class="form-group has-error">
							<label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Fecha de Nacimiento</label> 

							<div class="input-group date form_date col-md-6" data-date="" data-date-format="MM dd yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
			                   <input class="form-control  c-square c-theme" placeholder="fecha" value="" readonly type= {{ form.Paciente_fnacimiento }}  
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			                </div>
							<input type="hidden" id="dtp_input2" value="" /><br/>
			            </div>
			    </form>
			</div>

			<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'es',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'es',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'es',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>


			<div class="form-group has-error">
		            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Tipo de Cáncer</label>
		            <div class="col-md-6">
		                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="tipo" type={{ form.Paciente_diagnostico }} 
		            </div>
			</div>



			<div class="form-group has-error">
                <label class="col-md-4 control-label" style="color:black; ">Estado de Salud</label>
                <div class="col-md-6">
                    <select class="form-control  c-square c-theme" type= {{ form.Estado_salud }}
                        
                    </select>
                </div>
            </div>

            <div class="form-group has-error">
		            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Cliníca</label>
		            <div class="col-md-6">
		                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="nombre" type={{ form.Paciente_clinica }} 
		            </div>
			</div>

            <div class="form-group has-error">
	            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Nombre del Padre/Tutor</label>
	            <div class="col-md-6">
	                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="nombre" type= {{ form.Tutor_Padre }}  
	            </div>
			</div>	

			<div class="form-group has-error">
	            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Teléfono</label>
	            <div class="col-md-6">
	                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="p.e 664-111-22-33" type= {{ form.Paciente_contacto }}  
	            </div>
			</div>	

			<button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="background: #42275E; color: #ffffff;">Guardar</button>
			<button type="reset" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="background: #42275E; color: #ffffff;">Limpiar</button>
</form>

</center>
<br>
<br>


{%endblock%}
