{% extends 'base.html' %}
{% block title %}Donadores register{% endblock %}
{% block content %}

<br>
<div class="row"  style="margin-left:120px;">

    <div class="col-md-7">
        <div class="padding25">
            <h4>ACERCATE A <b>CONOCERNOS</b></h4>
        </div>
        <br>
        <section id="full-map" class="container-fluid map-container">
            
        	<iframe width="550" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Av.Ingenieros%20%23211%2C%20Col.Otay%20Universidad%20tijuana&key=AIzaSyA8khfDLZZLI0FnL_NkH2O59Lwu_IJhEaU" allowfullscreen ></iframe>

        </section>

    </div>
    
    <div class="col-lg-3" >
            <br>
            <br>
            <div class="padding15">
                <h4><b>FUNDACION SEBASTIAN DE LA PEÑA HERNANDEZ A.C.</b></h4>
            </div>
            <p align="justify">Somos una fundación que brinda apoyo a niños con padecimiento oncológico a través de la recaudación de fondos y donativos en especie. Nuestra ayuda es sin fines de lucro, acercate a pedir información, "¡En esta lucha nadie esta solo!".</p>


            <div class="padding15">
                <h4>NUESTRA <b>UBICACION</b></h4>
            </div>
            <p><i class="fa fa-map-marker fa-fw"></i> Av.Ingenieros #211, <br>Col.Otay Universidad<br> Tijuana, Baja California,<br> México. C.P. 22427 </p>
            <p><i class="fa fa-phone fa-fw"></i> 664-990-27-94</p>
            <p><i class="fa fa-envelope fa-fw"></i> angela@sepher.com</p>

            <div class="padding15">
                <h4><b>HORARIOS </b>DE INFORMES/ATENCION</h4>
            </div>
            <p><i class="fa fa-clock-o fa-fw"></i> Lunes - Viernes: 12pm to 6pm</p>
            <p><i class="fa fa-times fa-fw"></i> Sábado - Domingo: Cerrado</p>


    </div>
</div>
<br>



{% endblock %}